/* VARIABLES */
:root {
	--clr-black: #000;
	--clr-white: #fff;
	--clr-btn: #266efd;
	--clr-font: #276ffb;
	--clr--grey: #888888;
	--clr--border: #e2dfdf;

	--ff-primary: 'Manrope', sans-serif;

	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* GLOBAL */
body {
	margin: 0;
	background-color: var(--clr-white);
	font-family: var(--ff-primary);
	height: 100vh;
	width: 100vw;
}
ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}
a {
	text-decoration: none;
}
button {
	background-color: var(--clr-btn);
	font-weight: var(--fw-bold);
	color: var(--clr-white);
	border: none;
	box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(40, 117, 233, 0.2);
	border-radius: 3px;
}
.container {
	margin: 0 5rem;
	padding: 0;
}

/* HEADER */
header {
	background-image: url(/images/hero-image.png);
	background-size: cover;
	background-repeat: no-repeat;
}
/* navigation */
nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.nav__logo {
	color: var(--clr-white);
	font-weight: var(--fw-bold);
	padding-top: 0.75rem;
}
.nav__menu {
	padding-top: 0.5rem;
}
.nav__item a {
	font-size: 0.75rem;
	font-weight: var(--fw-semibold);
	color: var(--clr-white);
	padding: 0 0.45rem;
}
.nav__btn {
	font-size: 0.75rem;
	margin-left: 0.4rem;
	padding: 0.5rem 0.8rem;
}
/* hero */
section.hero {
	color: var(--clr-white);
	padding: 1.5rem 0 5.5rem 0;
	line-height: 0.4;
}
.hero__title {
	font-size: 1.73rem;
}

.hero__description {
	font-size: 0.75rem;
}
.hero__btn {
	font-size: 0.75rem;
	margin-top: 0.6rem;
	padding: 0.5rem 1.4rem;
}

/* MAIN */
/* newest job offers */
section.offers {
	padding: 0;
	margin: 0;
}
.offers__articles,
.offers__description {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: flex-end;
}
.offers__job {
	border-right: 1px solid var(--clr--border);
	padding-left: 1.5rem;
	margin-top: 0;
}
.offers__job:first-child {
	padding-left: 0;
}
.offers__job:last-child {
	border-right: none;
}
.offers__title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1.7rem;
	font-weight: var(--fw-medium);
	margin-top: 2.55rem;
	margin-bottom: 1.28rem;
}
.offers__all-jobs {
	font-size: 0.65rem;
	font-weight: var(--fw-semibold);
	color: var(--clr-font);
}
.offers__job-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8rem;
	font-weight: var(--fw-bold);
	color: var(--clr-font);
	font-display: inline-block;
}
.offers__posted {
	color: var(--clr--grey);
	font-size: 0.65rem;
	font-weight: var(--fw-normal);
	margin-right: 1rem;
}
.offers__company {
	font-size: 0.7rem;
	font-weight: var(--fw-medium);
	margin-top: 0;
	margin-bottom: 0.2rem;
	padding: 0;
}
.offers__company span {
	color: var(--clr--grey);
	margin-left: 0.25rem;
	font-weight: var(--fw-normal);
}
.offers__description {
	color: var(--clr--grey);
	margin-bottom: 0;
}
.offers__description p {
	font-size: 0.75rem;
	display: inline-block;
}
.offers__btn {
	border: none;
	padding: 0.25rem 0.45rem;
	margin: 0 1.1rem 0.2rem 0.2rem;
}
/* featured companies */
section.featured {
	padding: 0;
	margin: 0;
	text-align: center;
}
.featured__title {
	font-size: 1.7rem;
	font-weight: var(--fw-semibold);
	padding: 0;
	margin: 2rem 0 1rem 0;
	text-align: left;
}
.featured__list {
	margin: 0;
	padding: 0;
}
.featured__item {
	padding: 0;
	flex: 1;
	display: inline-block;
	align-self: stretch;
}
.featured__border {
	border: 1px solid var(--clr--border);
	border-radius: 50%;
	display: inline-block;
}
.featured__icon {
	margin: 1.1rem;
	width: 1rem;
}
.featured__description {
	font-size: 0.85rem;
	font-weight: var(--fw-bold);
	margin-top: 0.6rem;
	margin-bottom: 0;
}
.featured__btn {
	border-radius: 50%;
	padding: 0.85rem;
	width: 2.7rem;
}
/* subscribe */
section.subscribe {
	background-color: var(--clr-black);
	background-image: url(/images/Newsletter-image.png);
	background-size: cover;
	color: var(--clr-white);
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.subscribe__container {
	padding: 1.65rem 0 1.85rem 3rem;
	line-height: 0.35;
}
.subscribe__title {
	font-weight: var(--fw-bold);
	font-size: 1.73rem;
}
.subscribe__description {
	font-size: 0.7rem;
	width: 37%;
	line-height: 1.7;
}
.subscribe__input {
	border: 1px solid var(--clr-black);
	border-radius: 3px;
	font-size: 0.5rem;
	padding: 0.5rem 5rem 0.5rem 0.75rem;
}
.subscribe__btn {
	font-size: 0.6rem;
	padding: 0.5rem 1.2rem;
	margin-left: 0.8rem;
}

/* FOOTER */
footer {
	font-size: 0.7rem;
	width: 50%;
	margin: 0 auto;
}
.footer__list {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0;
	padding: 0;
}
.footer__item a {
	color: var(--clr--grey);
}
